<br><br>

<title> Modifica Status Personale</title>

<%= form_for @user, :url => editstatus_path(@user), :html => {:method => :put} do |f| %>

    <div class="field">
          <h3>Modifica Status Personale</h3>
           <br/><br/>
          <%= f.label :status %>
            <%= f.text_field(:status, class: 'form-control') %> <br/>

            </div>

   <%= f.submit "Salva Modifiche" , :class=> "btn btn-lg btn-primary"%>

   <%= link_to "Back", :back %>
<% end %>
