<div id="profile">
<title>Profilo</title>

<body>
<h1>Profilo di <%=   @user.username %></h1>

<div id = "content">


<%= image_tag(@user.img_profile, :style => "display: block; margin: 0px auto; width: 300px; height: 300px; cursor: pointer;", :alt => "logo")%>


  <dl>
  <dd> <b>Nome:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=   @user.nome %></dd>

    <dd><b>Cognome: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%=   @user.cognome %></dd>

    <dd><b>Email: </b> &nbsp;&nbsp;&nbsp;&nbsp;<%= @user.email %></dd>

    <dd><b>Username:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=   @user.username %></dd>

    <dd><b>Data Iscrizione:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= @user.created_at.strftime("%B, %e, %Y") %></dd>

    <dd><b>Status Personale:</b> &nbsp;&nbsp;&nbsp;&nbsp;
    <% if (@user.status.blank?) %>
           <span class="none">Non Inserito</span>
    <%else %>
    <%= @user.status %></dd>
    <% end %>

    <dd><b>Clan: </b> &nbsp;&nbsp;&nbsp;&nbsp;
    <% if (@user.clan==1) %>
            <span class="none">Guerriero</span>
    <% end %>
    <% if (@user.clan==2) %>
            <span class="none">Elfo</span>
    <% end %>

    <% if (@user.clan==3) %>
            <span class="none">Orco</span>
    <% end %>

    </dd>

    <dd><b>Ruolo:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%if @user.roles_mask == 1 %>
                                                Membro

                                                <%else %>

                                                Capoclan

                                                <%end %>

                                                </dd>

<br>


<% if @var == current_user.id %>
     <span style="text-align:center;font-size: 1.7em;"><%= link_to "Cambia Impostazioni Utente", edit_user_registration_path %></span>

<% elsif @var != current_user.id && current_user.roles_mask == 2 && User.find(@var).clan == current_user.clan  %>

        <dd><%= button_to 'Nomina Capoclan', {:action => "nomina_capoclan"}, :params => {:id => @var}, :method => :post, :style => 'width: 200px; ', :class => "btn btn-lg btn-primary" %>
        <em style = "font-size: 14px;">        Attenzione - La scelta sarà irreversibile </em> </dd>

<% elsif current_user.roles_mask == 4  && User.find(@var).roles_mask != 2 %>
    <dd><%= button_to 'Nomina Capoclan', {:action => "nomina_capoclan"}, :params => {:id => @var}, :method => :post, :style => 'width: 200px; ', :class => "btn btn-lg btn-primary" %>  <em style = "font-size: 14px;">
    <em style = "font-size: 14px;">        Attenzione - La scelta sarà irreversibile </em> </dd>
<% end %>

    </dl>



     </div>


  <br/><br/><br/>
  <br/>




<footer class="footer">

<div>

<h1 id = "titoloStats";> Caratteristiche  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Equipaggiamento Difensivo</h1>

<div id= "cont">

<div class="center jumbotron">

    <dd style="float:left;"><b>Livello: </b>&nbsp;&nbsp;<%= @user.livello %></dd><br><br><br>

    <dd style="float:left;"><b>Attacco: </b>&nbsp;&nbsp;<%= @user.attacco%> </dd>

    <dd> <b>Attacco Speciale:</b>&nbsp;&nbsp;<%= @user.attaccospec%></dd><br><br>

    <dd style="float:left;"><b>Difesa: </b>&nbsp;&nbsp;<%= @user.difesa %> </dd>

    <dd> <b>Difesa Speciale:</b>&nbsp;&nbsp;<%= @user.difesaspec %></dd><br><br>



</div>

</div>



<div id = "cont2">

<div id = "ciao" class="center jumbotron">


<table class="table table-borderless">

<tr>
<td>

<%= form_for @user do |f| %>
  <%= f.label :att %>:
  <%= f.select :att, [["Spada"], ["Arco"], ["Mazza chiodata"]]%>

  <%= f.label :def %>:
  <%= f.select :def, [["Scudo di ferro"], ["Scudo di legno"], ["Doppia arma"]]%>

  <%= f.label :arm %>:
  <%= f.select :arm, [["Cotta di maglia"], ["Completo del viandante"], ["Armatura di diamante"]]%>

  <%= f.submit  'Salva modifiche!',class: "btn btn-lg btn-primary"%>
<% end %>

</td>
</tr>
</table>

</div>


</div>


</div>


<br/><br/><br/>
  <br/>
  <br/><br/><br/>
  <br/>

<br/><br/><br/>
  <br/>
  <br/><br/><br/>
  <br/><br/><br/>
  <br/>


<footer class="footer"></footer>

 <br/>


<h1 id = "titoloStats"> &nbsp;Statistiche &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ultimi Incontri</h1>

<div id = "stats">

<div class="center jumbotron">

    <dd style="text-align:left;"><b>Vittorie: </b>&nbsp;&nbsp;<%= current_user.vittorie %></dd>

    <dd style="text-align:left;"><b>Sconfitte:</b>&nbsp;&nbsp;<%= current_user.sconfitte%></dd>

    <dd style="text-align:left;"><b>Rateo:</b>&nbsp;&nbsp;
    <%=if current_user.sconfitte == 0
        current_user.vittorie/1
    else
        (((current_user.vittorie.to_f)/(current_user.sconfitte.to_f))*100).round / 100.0
        end%> </dd>

</div>

</div>
        <dl>

<div id="battlestats">

<div class="center jumbotron">
       <dd style="text-align:left;"><b><%= @current_user.username %></b> &nbsp;&nbsp; VS &nbsp;&nbsp; <b>Qualcosa</b>  &nbsp;&nbsp;  --> Vittoria </dd>
        <dd style="text-align:left;"><b><%= @current_user.username %></b> &nbsp;&nbsp; VS &nbsp;&nbsp; <b>Qualcosa</b>  &nbsp;&nbsp;  --> Vittoria </dd>
       <dd style="text-align:left;"><b><%= @current_user.username %></b> &nbsp;&nbsp; VS &nbsp;&nbsp; <b>Qualcosa</b>  &nbsp;&nbsp;  --> Vittoria </dd>


        </dl>
</div>

</div>



</div>

</body>


