<div id="profile">
<title>Profilo</title>
  <h1><%=   @user.email %></h1>

  <dl>
    <dt>Email:</dt>
      <dd><%= @user.email %>:</dd>
    <dt>Username:</dt>
    <dd>Da Inserire </dd>
    <dt>Data Iscrizione:</dt>
    <dd><%= @user.created_at.strftime("%B, %e, %Y") %></dd>

    <dt>Status:</dt>
    <% if (@user.status.blank?) %>
          <span class="none">None given</span>
    <%else %>
    <dd><%= @user.status %></dd>
    <% end %>

  </dl>

     <span text-align: center><%= link_to "Cambia Impostazioni Utente", edit_user_registration_path %></span>
</div>


<footer class="footer">


<h1> Inventario</h1>

<div class="center jumbotron">

    <dt>Vittorie:</dt>
    <dd><%= @user.vittorie %></dd>
    <dt>Sconfitte:</dt>
    <dd><%= @user.sconfitte%></dd>

</div>

<footer class="footer">

<h1> Stats </h1>

<div class="center jumbotron">

    <dt>Vittorie:</dt>
    <dd><%= @user.vittorie %></dd>
    <dt>Sconfitte:</dt>
    <dd><%= @user.sconfitte%></dd>

</div>
