<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
    <%= yield %>

    <% if user_signed_in? %>
        Logged in as <b><%= current_user.email%></b>
        <br>
        <br>
        [<%= link_to 'Logout', destroy_user_session_path, :method => :delete%>]
    <% end %>

    </div>
  </body>
</html>
