<title>Info Clan</title>


<% if(current_user.clan == 1) %><h1 align="center">Info Clan Guerrieri</h1> 
    <div id = "content">



<%= image_tag("guerriero.jpg", :style => "display: block; margin: 0px auto; width: 300px; height: 300px; cursor: pointer;", :alt => "logo") %>


  <dl>
  <dd>  <b> Status Clan </b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
  <br>
  <dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=  2 %></dd>

    <dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=   4 %></dd>

    <br><br>

    <dd><b>Caratteristiche Clan</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
    <br>
    <dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 100 %></dd>

    <dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 30 %></dd>
    

    <dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 150 %></dd>
    
    <dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 70 %></dd>

  </dl>

</div>

    
<% end %>

<% if(current_user.clan == 2) %><h1>Info Clan Elfi</h1> 
    
    <div id = "content">

    <%= image_tag("elfo.jpg", :style => "display: block; margin: 0px auto; width: 300px; height: 300px; cursor: pointer;", :alt => "logo") %>

    <dl>
  <dd>  <b> Status Clan </b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
  <br>
  <dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=  1 %></dd>

    <dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=   3 %></dd>

    <br><br>

    <dd><b>Caratteristiche Clan</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
    <br>
    <dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 90 %></dd>

    <dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 40 %></dd>
    

    <dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 110 %></dd>
    
    <dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 70 %></dd>

  </dl>

</div>


  </div>

<% end %>

<% if(current_user.clan == 3) %><h1>Info Clan Orchi</h1> 
    
    <div id = "content">

    <%= image_tag("orco.jpg", :style => "display: block; margin: 0px auto; width: 300px; height: 300px; cursor: pointer;", :alt => "logo") %>

    <dl>
  <dd>  <b> Status Clan </b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
  <br>
  <dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=  5 %></dd>

    <dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=   3 %></dd>

    <br><br>

    <dd><b>Caratteristiche Clan</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
    <br>
    <dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 50 %></dd>

    <dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 120 %></dd>
    

    <dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 70 %></dd>
    
    <dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 150 %></dd>

  </dl>

</div>


  </div>

<% end %>

<style>

#content
{
	width: 355px;
	margin: 0; /* per azzerare */
	padding: 0; /* per azzerare */
}

</style>

