<title>Info Clan</title>


<% if(current_user.clan == 1) %><h1 align="center">Info Clan Guerrieri</h1>

    <div class = "main">

      <div class = "content">



      <%= image_tag("guerriero.jpg", :style => "display: block; margin: 0px auto; width: 300px; height: 300px; cursor: pointer;", :alt => "logo") %>
<br><br>

<%

    vitt = 0
    scon = 0
    @users = User.all.order(created_at: :desc)
    @users.each do |user|
    if @user.clan == 1
        vitt = vitt + user.vittorie
        scon = scon + user.sconfitte
    end
    end %>

        <dl>
        <dd>  <b> Status Clan:</b>&nbsp;&nbsp;&nbsp;&nbsp;

                            <% if current_user.roles_mask == 2  && @clan1.status_clan == nil  %>
                                <p width=20%><%= link_to "Inserisci Status", edit_clan_path(1) , class: "btn btn-lg btn-primary" %></p>

                            <% elsif @clan1.status_clan == nil && current_user.roles_mask != 2 %>
                                <em> Il Capoclan deve ancora inserire uno status!</em>

                            <%else%>
                                <em><%= @clan1.status_clan %></em>


                            <%end%>
                            &nbsp;&nbsp;

                            <% if current_user.roles_mask == 2 %>
                                <p width=10%><%= link_to "Modifica", edit_clan_path(1) , class: "btn btn-lg btn-primary" %></p>

                            <%end%>



          </dd>
        <br>
        <dd>  <b> Membri: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%= @clan1.membri %></dd>
        <br>
        <dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=  vitt %></dd>

          <dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=   scon %></dd>

          <br><br>

          <dd><b>Caratteristiche Iniziali</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
          <br>
          <dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 5 %></dd>

          <dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 5 %></dd>


          <dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%=1 %></dd>

          <dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 1 %></dd>

        </dl>



      </div>

      <div class = "footer">
        <iframe src="https://it.wikipedia.org/wiki/Guerriero_(Dungeons_%26_Dragons)" width="800" height="800">
        </iframe>
      </div>
  </div>

<% end %>

<% if(current_user.clan == 2) %><h1>Info Clan Elfi</h1>
    <div class = "main">
    <div class = "content">

    <%= image_tag("elfo.jpg", :style => "display: block; margin: 0px auto; width: 300px; height: 300px; cursor: pointer;", :alt => "logo") %>
<br><br>


    <dl>
  <dd>  <b> Status Clan: </b> &nbsp;&nbsp;&nbsp;&nbsp;

                            <% if current_user.roles_mask == 2  && @clan2.status_clan == nil  %>
                                <td width=20%><%= link_to "Inserisci Status", edit_clan_path(2) , class: "btn btn-lg btn-primary" %></td>

                            <% elsif @clan2.status_clan == nil && current_user.roles_mask != 2 %>
                                <em> Il Capoclan deve ancora inserire uno status!</em>

                            <%else%>
                                <em><%= @clan2.status_clan %></em>

                            <%end%>

                            &nbsp;&nbsp;

                            <% if current_user.roles_mask == 2 %>
                                <td width=20%><%= link_to "Modifica", edit_clan_path(2) , class: "btn btn-lg btn-primary" %></td>



                            <%end%>

                                </dd>
  <br>

  <%

    vitt = 0
    scon = 0
    @users = User.all.order(created_at: :desc)
    @users.each do |user|
    if @user.clan == 2
        vitt = vitt + user.vittorie
        scon = scon + user.sconfitte
    end
    end %>

  <dd>  <b> Membri: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%= @clan2.membri %></dd>
        <br>
  <dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp;  <%= vitt %></dd>

    <dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%= scon %></dd>

    <br><br>

    <dd><b>Caratteristiche Iniziali</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
    <br>
    <dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 5%></dd>

    <dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 5 %></dd>


    <dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 1 %></dd>

    <dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 1 %></dd>

  </dl>

</div>
  <div class = "footer">
        <iframe src="https://it.wikipedia.org/wiki/Elfo_(Dungeons_%26_Dragons)" width="800" height="800">
        </iframe>
      </div>
  </div>


  </div>
  </div>
<% end %>

<% if(current_user.clan == 3) %><h1>Info Clan Orchi</h1>
    <div class = "main">
    <div class = "content">

    <%= image_tag("orco.jpg", :style => "display: block; margin: 0px auto; width: 300px; height: 300px; cursor: pointer;", :alt => "logo") %>
<br><br>

<%
    vitt = 0
    scon = 0
    @users = User.all.order(created_at: :desc)
    @users.each do |user|
    if @user.clan == 3
        vitt = vitt + user.vittorie
        scon = scon + user.sconfitte
    end
    end %>

    <dl>
  <dd>  <b> Status Clan: </b> &nbsp;&nbsp;&nbsp;&nbsp;


                     <% if current_user.roles_mask == 2  && @clan3.status_clan == nil  %>
                                <td width=20%><%= link_to "Inserisci Status", edit_clan_path(3) , class: "btn btn-lg btn-primary" %></td>

                            <% elsif @clan1.status_clan == nil && current_user.roles_mask != 2 %>
                                <em> Il Capoclan deve ancora inserire uno status!</em>

                            <%else%>
                                <em><%= @clan3.status_clan %></em>


                            <%end%>

                                &nbsp;&nbsp;
                            <% if current_user.roles_mask == 2 %>
                                <td width=20%><%= link_to "Modifica", edit_clan_path(3) , class: "btn btn-lg btn-primary" %></td>

                            <%end%>

                                </dd>
  <br>
  <dd>  <b> Membri: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%= @clan3.membri %></dd>
        <br>
  <dd> <b>Vittorie Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=  vitt %></dd>

    <dd><b>Sconfitte Clan:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%=  scon %></dd>

    <br><br>

    <dd><b>Caratteristiche</b> &nbsp;&nbsp;&nbsp;&nbsp; </dd>
    <br>
    <dd><b>Attacco:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 5 %></dd>

    <dd><b>Difesa:</b> &nbsp;&nbsp;&nbsp;&nbsp;<%= 5 %></dd>


    <dd><b>Attacco Speciale: </b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 1 %></dd>

    <dd><b>Difesa Speciale:</b> &nbsp;&nbsp;&nbsp;&nbsp; <%= 1 %></dd>

  </dl>

</div>

<div class = "footer">
        <iframe src="https://it.wikipedia.org/wiki/Orchi_(Warcraft)" width="800" height="800">
        </iframe>
      </div>
  </div>
  </div>

<% end %>

<style>

.content
{
	width: 355px;
	margin: 0; /* per azzerare */
	left: 1000
  top: 100
  padding: 0; /* per azzerare */
}

.main { height: 100%; }
.content { float: left; width: 335px; height: 80%; padding: 4px;}
.footer {text-align: justify; padding: 4px;}
</style>

