<title>COMBATTI</title>
<center><H1>È ORA DI COMBATTERE</H1></center>

</br>
<table width= 100%>
<tr><td>

<FONT SIZE=+2><%=@user.username%> -     <% if (@user.clan==1) %>
            <span class="none">Guerriero</span>
    <% end %>
    <% if (@user.clan==2) %>
            <span class="none">Elfo</span>
    <% end %>

    <% if (@user.clan==3) %>
            <span class="none">Orco</span>
    <% end %>
</FONT>
</br>
<TABLE class="table table-borderless" COLS=1>
        <TR><TD>Livello: </b>&nbsp;&nbsp;<%= @user.livello %></TD></TR>
	<TR><TD>Attacco: </b>&nbsp;&nbsp;<%= @user.attacco%></TD></TR>
	<TR><TD>Attacco Speciale:</b>&nbsp;&nbsp;<%= @user.attaccospec%></TD></TR>
	<TR><TD>Difesa: </b>&nbsp;&nbsp;<%= @user.difesa %></TD></TR>
	<TR><TD>Difesa Speciale:</b>&nbsp;&nbsp;<%= @user.difesaspec %></TD></TR>
      </TABLE>

</br>
<FONT SIZE=+2>Equipaggiamento</FONT>
</br>
<table width = 40% class="table table-borderless">
<tr><td>
<%= form_for @user do |f| %>
  <%= f.label :att %>:
  <%= f.select :att, [["Spada"], ["Arco"], ["Mazza chiodata"]]%>

  <%= f.label :def %>:
  <%= f.select :def, [["Scudo di ferro"], ["Scudo di legno"], ["Doppia arma"]]%>

  <%= f.label :arm %>:
  <%= f.select :arm, [["Cotta di maglia"], ["Completo del viandante"], ["Armatura di diamante"]]%>

  <%= f.submit  'Salva modifiche!',class: "btn btn-primary"%>
<% end %>
</td></tr>
</table>


</td>
<td width=40%><h1> VS </h1></td>
<td width=30%><%= link_to "Cerca Avversario", "combatti2", class: "btn btn-lg btn-primary" %></td>
</tr>
</table>

</br>

<style>
body
{
	font:10px
}
table  {
	border-collapse:collapse
	align="center"
}
td, th {
	border:0px;
	padding:10px;
}

</style>

