<title>Risultato</title>
</br>
</br>
<%@att=@u.attacco%>
<%@def=@u.difesa%>
<%@att2=@u2.attacco%>
<%@def2=@u2.difesa%>

<%if(@u.att=="Spada")&&((@u2.def=="Scudo di legno")||(@u2.def=="Doppia arma"))%><%@att+=30%><% end %>
<%if(@u.att=="Arco")&&(@u2.def=="Doppia arma")%><%@att+=60%><% end %>
<%if(@u.att=="Mazza chiodata")&&((@u2.def=="Scudo di legno")||(@u2.def=="Scudo di ferro"))%><%@att+=30%><%end%>


<%if((@u.def=="Scudo di legno")&&(@u2.att=="Arco"))%> <%@def+=60%> <%end%>
<%if(@u.def=="Scudo di ferro")&&((@u2.att=="Spada")||(@u2.att=="Arco"))%><%@def+=30%><%end%>
<%if((@u.def=="Doppia arma")&&((@u2.att=="Spada")||(@u2.att=="Mazza chiodata")))%> <%@att+=20%><%@def+=20%><%end%>

<%if(@u.arm=="Cotta di maglia")%><%@att+=30%><%@def+=30%><%end%>
<%if(@u.arm=="Completo del viandante")%><%@att+=60%><%@def+=10%><%end%>
<%if(@u.arm=="Armatura di diamante")%><%@att+=10%><%@def+=60%><%end%>



<%if(@u2.att=="Spada")&&((@u.def=="Scudo di legno")||(@u.def=="Doppia arma"))%><%@att2+=30%><% end %>
<%if(@u2.att=="Arco")&&(@u.def=="Doppia arma")%><%@att2+=60%><% end %>
<%if(@u2.att=="Mazza chiodata")&&((@u.def=="Scudo di legno")||(@u.def=="Scudo di ferro"))%><%@att2+=30%><%end%>


<%if((@u2.def=="Scudo di legno")&&(@u.att=="Arco"))%> <%@def2+=60%> <%end%>
<%if(@u2.def=="Scudo di ferro")&&((@u.att=="Spada")||(@u.att=="Arco"))%><%@def2+=30%><%end%>
<%if((@u2.def=="Doppia arma")&&((@u.att=="Spada")||(@u.att=="Mazza chiodata")))%> <%@att2+=20%><%@def2+=20%><%end%>

<%if(@u2.arm=="Cotta di maglia")%><%@att2+=30%><%@def2+=30%><%end%>
<%if(@u2.arm=="Completo del viandante")%><%@att2+=60%><%@def2+=10%><%end%>
<%if(@u2.arm=="Armatura di diamante")%><%@att2+=10%><%@def2+=60%><%end%>


<%@att2 = @att2 * (Random.rand(1..2))%>
<%@def2 = @def2 * (Random.rand(1..2))%>


<%if(@att >= @def2)&&(@def >= @att2)%>


 <%
        partita = Match.new(:user => @u.id, :avversario => @u2.id, :result => 1)
        @user_matches = @matches.where(:user => @u.id)

        @user_matches.each do |match|
            if match.flag == 3
                match.update_attributes!(:flag => 4)
            elsif match.flag == 2
                match.update_attributes!(:flag => 3)
            elsif match.flag == 1
                match.update_attributes!(:flag => 2)
            end
        end

            partita.update_attributes!(:flag => 1)

        %>




<h1>HAI VINTO!!!</h1>
</br>
<TABLE class="table table-borderless" COLS=1 WIDTH="50%">
	<TR><TD>Attacco: </b>&nbsp;&nbsp;<%= @u.attacco%> +2</TD></TR>
	<TR><TD>Attacco Speciale:</b>&nbsp;&nbsp;<%= @u.attaccospec%> +1</TD></TR>
	<TR><TD>Difesa: </b>&nbsp;&nbsp;<%= @u.difesa %> +2</TD></TR>
	<TR><TD>Difesa Speciale:</b>&nbsp;&nbsp;<%= @u.difesaspec%> +1</TD></TR>
      </TABLE>
</br>
	<%@u.livello += 1%>
	<%@u.attacco += 2%>
	<%@u.difesa += 2%>
	<%@u.attaccospec += 1%>
	<%@u.difesaspec += 1%>
	<%@u.vittorie += 1%>


<%elsif(@att < @def2)&&(@def < @att2)%>


 <%

        partita = Match.new(:user => @u.id, :avversario => @u2.id, :result => 0)
        @user_matches = @matches.where(:user => @u.id)

        @user_matches.each do |match|
            if match.flag == 3
                match.update_attributes!(:flag => 4)
            elsif match.flag == 2
                match.update_attributes!(:flag => 3)
            elsif match.flag == 1
                match.update_attributes!(:flag => 2)
            end
        end

            partita.update_attributes!(:flag => 1)

        %>




<h1>HAI PERSO...</h1>
</br>
<TABLE class="table table-borderless" COLS=1 WIDTH="50%">
	<TR><TD>Attacco: </b>&nbsp;&nbsp;<%= @u.attacco%> -1</TD></TR>
	<TR><TD>Attacco Speciale:</b>&nbsp;&nbsp;<%= @u.attaccospec%> -1</TD></TR>
	<TR><TD>Difesa: </b>&nbsp;&nbsp;<%= @u.difesa %> -1</TD></TR>
	<TR><TD>Difesa Speciale:</b>&nbsp;&nbsp;<%= @u.difesaspec%> -1</TD></TR>
      </TABLE>
</br>
<%if (@u.livello > 1)%>
	<%@u.livello -= 1%>
<%end%>
<%if (@u.attacco > 5)%>
	<%@u.attacco -= 1%>
<%end%>
<%if (@u.difesa > 5)%>
	<%@u.difesa -= 1%>
<%end%>
<%if (@u.attaccospec > 1)%>
	<%@u.attaccospec -= 1%>
<%end%>
<%if(@u.difesaspec > 1)%>
	<%@u.difesaspec -= 1%>
<%end%>
<%@u.sconfitte+=1%>


<%elsif(@att >= @def2)&&(@def < @att2)%>
	<%if(@u.difesaspec*(Random.rand(100)) >= @u2.attaccospec*(Random.rand(100)))%>



     <%

        partita = Match.new(:user => @u.id, :avversario => @u2.id, :result => 1)
        @user_matches = @matches.where(:user => @u.id)

        @user_matches.each do |match|
            if match.flag == 3
                match.update_attributes!(:flag => 4)
            elsif match.flag == 2
                match.update_attributes!(:flag => 3)
            elsif match.flag == 1
                match.update_attributes!(:flag => 2)
            end
        end

            partita.update_attributes!(:flag => 1)

        %>


<h1>HAI VINTO!!!</h1>
</br>
<TABLE class="table table-borderless" COLS=1 WIDTH="50%">
	<TR><TD>Attacco: </b>&nbsp;&nbsp;<%= @u.attacco%> +2</TD></TR>
	<TR><TD>Attacco Speciale:</b>&nbsp;&nbsp;<%= @u.attaccospec%> +1</TD></TR>
	<TR><TD>Difesa: </b>&nbsp;&nbsp;<%= @u.difesa %> +2</TD></TR>
	<TR><TD>Difesa Speciale:</b>&nbsp;&nbsp;<%= @u.difesaspec%> +1</TD></TR>
      </TABLE>
</br>

	<%@u.livello += 1%>
	<%@u.attacco += 2%>
	<%@u.difesa += 2%>
	<%@u.attaccospec += 1%>
	<%@u.difesaspec += 1%>
	<%@u.vittorie += 1%>

	<%else%>



     <%

        partita = Match.new(:user => @u.id, :avversario => @u2.id, :result => 0)
        @user_matches = @matches.where(:user => @u.id)

        @user_matches.each do |match|
            if match.flag == 3
                match.update_attributes!(:flag => 4)
            elsif match.flag == 2
                match.update_attributes!(:flag => 3)
            elsif match.flag == 1
                match.update_attributes!(:flag => 2)
            end
        end

            partita.update_attributes!(:flag => 1)
             %>





<h1>HAI PERSO...</h1>
</br>
<TABLE class="table table-borderless" COLS=1 WIDTH="50%">
	<TR><TD>Attacco: </b>&nbsp;&nbsp;<%= @u.attacco%> -1</TD></TR>
	<TR><TD>Attacco Speciale:</b>&nbsp;&nbsp;<%= @u.attaccospec%> -1</TD></TR>
	<TR><TD>Difesa: </b>&nbsp;&nbsp;<%= @u.difesa %> -1</TD></TR>
	<TR><TD>Difesa Speciale:</b>&nbsp;&nbsp;<%= @u.difesaspec%> -1</TD></TR>
      </TABLE>
</br>
<%if (@u.livello > 1)%>
	<%@u.livello -= 1%>
<%end%>
<%if (@u.attacco > 5)%>
	<%@u.attacco -= 1%>
<%end%>
<%if (@u.difesa > 5)%>
	<%@u.difesa -= 1%>
<%end%>
<%if (@u.attaccospec > 1)%>
	<%@u.attaccospec -= 1%>
<%end%>
<%if(@u.difesaspec > 1)%>
	<%@u.difesaspec -= 1%>
<%end%>
<%@u.sconfitte+=1%>
	<%end%>



<%elsif(@att < @def2)&&(@def >= @att2)%>
	<%if(@u.attaccospec*(Random.rand(100)) >= @u2.difesaspec*(Random.rand(100)))%>

         <%

        partita = Match.new(:user => @u.id, :avversario => @u2.id, :result => 1)
        @user_matches = @matches.where(:user => @u.id)

        @user_matches.each do |match|
            if match.flag == 3
                match.update_attributes!(:flag => 4)
            elsif match.flag == 2
                match.update_attributes!(:flag => 3)
            elsif match.flag == 1
                match.update_attributes!(:flag => 2)
            end
        end

            partita.update_attributes!(:flag => 1)


             %>


<h1>HAI VINTO!!!</h1>
</br>
<TABLE class="table table-borderless" COLS=1 WIDTH="50%">
	<TR><TD>Attacco: </b>&nbsp;&nbsp;<%= @u.attacco%> +2</TD></TR>
	<TR><TD>Attacco Speciale:</b>&nbsp;&nbsp;<%= @u.attaccospec%> +1</TD></TR>
	<TR><TD>Difesa: </b>&nbsp;&nbsp;<%= @u.difesa %> +2</TD></TR>
	<TR><TD>Difesa Speciale:</b>&nbsp;&nbsp;<%= @u.difesaspec%> +1</TD></TR>
      </TABLE>
</br>
	<%@u.livello += 1%>
	<%@u.attacco += 2%>
	<%@u.difesa += 2%>
	<%@u.attaccospec += 1%>
	<%@u.difesaspec += 1%>
	<%@u.vittorie += 1%>
	<%else%>


     <%
         partita = Match.new(:user => @u.id, :avversario => @u2.id, :result => 0)
        @user_matches = @matches.where(:user => @u.id)

        @user_matches.each do |match|
            if match.flag == 3
                match.update_attributes!(:flag => 4)
            elsif match.flag == 2
                match.update_attributes!(:flag => 3)
            elsif match.flag == 1
                match.update_attributes!(:flag => 2)
            end
        end

            partita.update_attributes!(:flag => 1)


        %>


<h1>HAI PERSO...</h1>
</br>
<TABLE class="table table-borderless" COLS=1 WIDTH="50%">
	<TR><TD>Attacco: </b>&nbsp;&nbsp;<%= @u.attacco%> -1</TD></TR>
	<TR><TD>Attacco Speciale:</b>&nbsp;&nbsp;<%= @u.attaccospec%> -0</TD></TR>
	<TR><TD>Difesa: </b>&nbsp;&nbsp;<%= @u.difesa %> -1</TD></TR>
	<TR><TD>Difesa Speciale:</b>&nbsp;&nbsp;<%= @u.difesaspec%> -0</TD></TR>
      </TABLE>
</br>
<%if (@u.livello > 1)%>
	<%@u.livello -= 1%>
<%end%>
<%if (@u.attacco > 5)%>
	<%@u.attacco -= 1%>
<%end%>
<%if (@u.difesa > 5)%>
	<%@u.difesa -= 1%>
<%end%>
<%if (@u.attaccospec > 1)%>
	<%@u.attaccospec -= 1%>
<%end%>
<%if(@u.difesaspec > 1)%>
	<%@u.difesaspec -= 1%>
<%end%>
<%@u.sconfitte+=1%>
	<%end%>
<%end%>

<%@u.save%>







</br>
</br>
<center><%= link_to "Combatti di nuovo", "combatti", class: "btn btn-lg btn-primary" %></center>
<style>
body
{
	font:10px
}
table  {
	border-collapse:collapse
	align="center"
        WIDTH="40%"
}
td, th {
	border:0px;
	padding:10px;
}

</style>
