<!DOCTYPE html>
<html>
<head>
<title>InfoClan</title>
</head>



<body>
<br>
<div class="center jumbotron">
<h1>InfoClan</h1>

<p>

Durante la registrazione sarà possibile scegliere il clan di appartenenza, che non è modificabile.
<br>
I clan selezionabili sono i Guerrieri, gli Elfi e gli Orchi. <br>

Una volta selezionato il clan si dovrà scegliere l' immagine del profilo di gioco tra quelle disponibili.

<br>
<br>
Guerriero &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= image_tag("guerriero1.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>
<%= image_tag("guerriero2.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>
<%= image_tag("guerriero3.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>

<br>

<br>
Elfo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= image_tag("elfo1.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>
<%= image_tag("elfo2.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>
<%= image_tag("elfo3.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>

<br>

<br>

Orco &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= image_tag("orco1.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>
<%= image_tag("orco2.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>
<%= image_tag("orco3.jpeg", :style => "display: block; display:inline; margin: 0px auto; width: 100px; height: 100px; cursor: pointer;", :alt => "logo")%>

<br>

<br>

<br>

Le caratteristiche iniziali di un Utente appena registrato sono:<br></t> <b>Livello:</b> 1 ,  <b>Attacco:</b> 5, <b>Difesa:</b> 5 , <b>Attacco Speciale:</b> 1, <b>Difesa Speciale:</b> 1

<br>
<br>
<br>

<a href="register" >Iscriviti Ora </a>


</p>

</div>


</body>
</html>
