

<h1>Classifica Membri Clan</h1>

<title>Classifica Membri Clan</title>

<table width="100%" height="50%">
	<thead>
		<tr>
			<th>Rank</th><th>Giocatore</th><th>Vittorie</th><th>Sconfitte</th><th>Ratio</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @users.each do |user| %>
			<th><%= user.id %></th>
			<th><%= user.email %></th>
			<td> <%= user.vittorie %></td><td><%= user.sconfitte %></td><td><%=
			if user.sconfitte == 0
				user.vittorie/1

			else
				(((user.vittorie.to_f)/(user.sconfitte.to_f))*100).round / 100.0
			end%></td></tr>

			<% end %>
		</tr>
	</tbody>
</table>

<style>
body
{
	font:10px
}
table  {
	border-collapse:collapse
	align="center"
}
td, th {
	border:2px solid #ddd;
	padding:10px;
}
</style>
